@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: #caeb66;
  --color-secondary: #33929d;
  --text-secondary: #03373d;
}

body {
  font-family: 'Urbanist', sans-serif;
}
